@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
.container,
h1 {
  background-color: #0d6efd;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 0.25rem;
  max-width: 800px;
}
h2 {
  background-color: #cfe2ff;
  color: #084298;
  overflow: visible;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

a {
  text-decoration: none;
  color: white;
  margin: 5px 15px;
}
a:hover {
  color: rgba(255, 255, 255, 0.774);
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.Chatlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-group {
  width: 40%;
}
/* .Message {
  border: 2px solid #61dafb;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  flex-grow: 1;
  outline: none;
}
.Message-button {
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #e5e5e5;
  background-image: linear-gradient(to left, #8e44ad, #3498db, #68d6da);
  text-align: center;
  font-size: large;
} */

.Messages-list {
  padding: 10px 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  display: inline-block;
}
.Messages-content.person {
  flex-direction: row-reverse;
  text-align: right;
}

form {
  display: flex;
}
.reload {
  max-width: 100px;
}
.cards-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.card-title {
  font-size: 1.5rem;
  line-height: 2rem;
  min-height: 16rem;
}
.card-text {
  font-size: 0.8rem;
  line-height: 1rem;
}
.card-img {
  height: 300px;
}

.linkNav{
  text-decoration: none;
  color: rgb(16, 9, 104);
}
.linkNav:hover {
  color: rgba(173, 183, 236, 0.486);
}

@media (max-width: 500px) {
  .cards-container .card-container {
    width: 80%;
    margin-right: 0%;
  }
}
