@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}
.App {
  /* text-align: center; */
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #3498db;
  overflow: visible;
  width: 100%;
  max-width: 500px;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin: 0 auto;
}
.Message {
  border: 2px solid #61dafb;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  flex-grow: 1;
  outline: none;
}
.Message-button {
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #e5e5e5;
  background-image: linear-gradient(to left, #8e44ad, #3498db, #68d6da);
  text-align: center;
  font-size: large;
}

.Messages-list {
  padding: 10px 0;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  display: inline-block;
}
.Messages-content.person {
  flex-direction: row-reverse;
  text-align: right;
}

form {
  display: flex;
  width: 50%;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto 40px;
}
